<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser =
    <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.elephantLarge = '<%= image_url('elephant.png') %>';
  window.elephantSmall = '<%= image_url('baby-elephant.png') %>';
  window.popupTail = '<%= image_url('gray_popup_arrow.png') %>';
</script>




<div id='root'></div>
