
.color-swatch{
  height: 15px;
  width: 15px;
  float:left;
  box-sizing:border-box;
  flex-shrink: 0;
  margin: 2px;
}

.editor-root{
  font-family: 'Georgia', serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction:column;
  background:white;
  position:relative;
}

.editor-body{
  cursor: text;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  background:white;
  height: 100%;
}

.editor-header{
  background:pink;
  height: 100px;
  width:100%;
  flex-shrink: 0;
  position:relative;
}

.control-panel{
  display:flex;
  flex-shrink:0;
  /* justify-content: space-between; */
  position: relative;
  top:69px;
  height:30px;
  line-height:30px;
  background:white;
  z-index: 2;
}






.color-tab{
  border: 1px solid #ececec;
  border-bottom:none;
  width: 60px;
}

.font-tab{
  border: 1px solid #ececec;
  border-bottom: none;
  width: 60px;
}

.font-popup{
  line-height:normal;
  border:1px solid #ececec;
  border-bottom: none;
  width: 100px;
  height: 0px;
  overflow-y:scroll;
  transition: .3s;
  background: white;
  position:absolute;
  top:30px;
}

.font-popup li {
  padding: 3px 5px;
}

.font-tab:hover .font-popup{
  display:block;
  box-shadow: 5px 5px 5px #ececec;
  border-bottom: 1px solid #ececec;
  height:160px;
}

.color-popup{
  width:160px;
  background:white;
  box-sizing: border-box;

  border: 1px solid #ececec;
  border-bottom: none;
  position:absolute;
  top:30px;
  transition: .3s;

  align-content: flex-start;
  display: flex;
  flex-wrap:wrap;

  height:0;
  overflow:hidden;
}

.color-tab:hover > .color-popup{
  height:160px;
  box-shadow: 5px 5px 5px #ececec;
  border-bottom: 1px solid #ececec;
}
