.notebooks-veil{
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background:white;
  z-index:3;
  opacity: .9;
  animation-name: cloud;
  animation-duration: 1s;
}

.notebooks-pane{
  background: white;
  height:100%;
  width:460px;
  position:absolute;
  left:70px;
  z-index:3;
  border-right: 1px solid #ececec;
  animation-name: panelSlider;
  animation-duration: 1s;
  overflow-y: scroll;
}

.notebooks-header{
  height: 125px;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top:0px;
}

.pane-title{
  margin: 20px 0 0 30px;
  position:absolute;
  color:#777;
  font-family: 'Lato';
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.panel-exit > .notebooks-pane{
  animation-name: panelExit;
}

.panel-exit > .notebooks-veil{
  animation-name: veilExit;
}

.search-entry{
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
}

.search-field-container{
  position: absolute;
  bottom: 20px;
  width: 100%;
}


.search-field{
  padding: 4px;
  width: 400px;
  height: 40px;
  margin: auto;
  display:block;
  font-size: 16px;
  font-family: 'Lato';
  box-sizing: border-box;
}

.search-field::placeholder{
  font-size: 16px;
  text-align: center;
}

@keyframes panelSlider {
  0% {left:-390px}
  100% {left:70px}
}

@keyframes cloud {
  0% {opacity: 0}
  100% {opacity: .9}
}

@keyframes panelExit {
  0% {left:70px}
  100% {left:-390px}
}

@keyframes veilExit {
  0% {opacity: .9}
  100% {opacity: 0}
}
