.pane-content{
  height:100%;
  overflow-y:scroll;
  display:block;
}

.note-wrapper{
  padding: 0 22px;
  box-sizing:border-box;
  position:absolute;
  height:100%;
  width:100%
}

.reminders{
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing:1.5px;
  font-weight:400;
  color: #878787;
  font-size:14px;
  padding:14px 22px 10px 28px;
  border-top:2px solid #ececec;
  border-bottom:3px solid #ececec;
  box-sizing:border-box;
  background:white;
}

.title{
  font-family: 'Scope One';
  font-size:20px;
  font-weight: 100;
  color: #878787;
}

.note-body{
  padding: 14px 0;
  margin: auto;
  border-bottom:1px solid #ececec;
  height: 100%;
  box-sizing:border-box;
}

.date{
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.reminders-header{
  display:flex;
  justify-content:space-between;
  font-weight:700;
}

.reminders-counter{
  font-family:'Raleway';
  font-weight:300;
  position:relative;
  bottom:4px;
  text-align:right;
}

.reminders-counter:hover > .reminders-popup{
  display:block;
}

.reminders-popup{
  background:white;
  height:215px;
  width:330px;
  position:fixed;
  top:135px;
  left:370px;
  border:1px solid #ececec;
  box-shadow: 5px 5px 5px #ececec;
  display:none;
}

.options-popup{
  height:375px;
  width:270px;
  position:fixed;
  background:white;
  z-index:2;
  left:330px;
  top:90px;
  border:1px solid #ececec;
  box-shadow: 5px 5px 5px #ececec;
  display:none;
}


.pointer{
margin-left:2px;
margin-right:-1px;
margin-bottom:1px;
}

.reminder-icon{
  margin-left:5px;
  position:relative;
  top: 2px;
}

.pane-notes{
  width:350px;
  height:100%;
  border-right:1px solid #ececec;
  background:#f8f8f8;
  float:left;
  display:flex;
  flex-direction:column;
  flex-shrink: 0;
}

.pane-header{
  width:100%;
  height:108px;
  background:white;
  border-bottom: 1px solid #ececec;
  font-size:21px;
  color: #878787;
  text-transform:uppercase;
  font-family: 'Lato';
  padding: 25px;
  box-sizing: border-box;
  letter-spacing: 2.5px;
}

.pane-subhead{
  text-transform:none;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
  position:relative;
  top: 28px;
  letter-spacing:1px;
}

.options{
font-size: 14px;
}

.options:hover > .options-popup{
  display:block;
}

.note-header{
  display: flex;
  align-items: flex-end;
  height:24px;
  justify-content: space-between;
  padding-bottom:3px;
}

.body-of-note{
  width: 200px;
}

.note-icon{
  height: 24px;
  width: 24px;
  float:left;
  margin-left:10px;
  cursor:pointer;
}

.note-options{
  display: none;
  position:absolute;
  right:10px;
  top:10px;
}

.note-hover-event:hover .note-options{
  display: block;
}

.note-hover-event{
  height:120px;
  width:100%;
  background:white;
  position:relative;
  transition: height 1s;
}

.note-hover-event:hover {
  background: #2dbe60;
}

.note-hover-event:hover div {
  color:white;
  border:none;
}

.collapse {
  height: 0px;
}














.note-trash{
  background-image: image-url('note_assets/green_bg/inactive/trash.png');
}

.note-star{
  background-image: image-url('note_assets/green_bg/inactive/star.png');
}

.note-reminder{
  background-image: image-url('note_assets/green_bg/inactive/clock.png');
}

.note-share{
  background-image: image-url('note_assets/green_bg/inactive/chat.png');
}

.note-trash:hover{
  background-image: image-url('note_assets/green_bg/hover/trash.png');
}

.note-star:hover{
  background-image: image-url('note_assets/green_bg/hover/star.png');
}

.note-reminder:hover{
  background-image: image-url('note_assets/green_bg/hover/clock.png');
}

.note-share:hover{
  background-image: image-url('note_assets/green_bg/hover/chat.png');
}
