.title{
  font-family: 'Scope One'
}

.note-body{
  padding: 5px;
  box-sizing:border-box;
  width:100%;
  height:120px;
  background:white;
  border-bottom:1px solid #ececec;
  transition: .3s;
}

.note-body:hover{
  background: #2dbe60;
}
