
.text-editor-pane{
  height: 100%;
  width: calc(100vw - 422px);
  background:white;
}

.text-editor-header{
  height: 100px;
  width: 100%;
  flex-shrink: 0;
  position:relative;
  box-sizing:border-box;
  border-bottom: 1px solid #ececec;
}

.text-editor-content{
  width: 100%;
  margin:auto;
  padding:20px 0px 0px 30px;
  box-sizing:border-box;
  height:100%
};


.title-input{
  display:block;
  margin:0;
  padding: 0 0 0 18px;
  box-sizing:border-box;
  border-radius:0;
  border:none;
  font-family:'Scope One';
  font-size: 30px;
  color: #2dbe60;
  width:100%;
}

.title-input:focus{
  border:none;
}
.title-input::placeholder{
  color:#2dbe60;
  font-family: 'Scope One'
}

.text-editor-field{
  height:100%;
}

.editor-note-body{
  height:100%;
}


.note-menu-bar{
  position:absolute;
  bottom: -3px;
  cursor:pointer;
  padding:10px;
  display:flex;
}


/////////////////////////////////


.notebook-selector{
    width: 200px;
}

.notebook-popup{
  height:0px;
  box-sizing:border-box;
  overflow-y:scroll;
  width:360px;
  position:absolute;
  top:36px;
  left:-1px;
  background:white;
  transition:.5s;
  border:1px solid #ececec;
  border-bottom:none;
  z-index: 2;
}

.notebook-selector:hover > .notebook-popup{
  display: block;
  height: 300px;
  box-shadow: 5px 5px 5px #ececec;
  border-bottom: 1px solid #ececec;
}

.note-li{
  padding-left:18px;
  font-family:'Scope One';
  transition: .5s;
  height: 40px;
  line-height: 40px;
  animation-duration: 1s;
  overflow:hidden;
  background:white;
}

.note-li:hover{
  background: #2dbe60;
  color:white;
}

.selected{
  color: red
}

.note-input{
  width:100%;
  margin:0px;
  border:none;
  border-bottom: 1px solid #ececec;
  border-radius: 0px;
  height:44px;
  font-size:14px;
  padding: 0px 18px;
  box-sizing: border-box;
}



.note-form{
  height:auto;
}

///////////////////////////////////////
.tags-selector{
  width: 100px;
}


.tags-popup {
  height: 0;
  width: 150px;
  border: 1px solid #ececec;
  border-bottom: none;
  position: absolute;
  top: 36px;
  transition: .5s;
  overflow-y: scroll;
  background:white;
}

.tag-selector:hover > .tags-popup{
  height: 300px;
  box-shadow: 5px 5px 5px #ececec;
  border-bottom: 1px solid #ececec;
  z-index: 2;
}

.noteListItem-enter{
  animation-name: expandListItem;
}

@keyframes expandListItem {
  0% {height: 0px; background: #2dbe60; color:white}
  70% {height: 40px; background: #2dbe60; color:white}
  100% {background:white; color: inherit}
}


///////////////////////////////////////
