.text-editor-pane{
  width: 100%;
  height: 100%;
  background: white;
}

.text-editor-header{
  height: 100px;
  width: 100%;
  background:red;
}

.text-editor-content{
  height: 100%;
  width: 100%;
  background: blue;
};
