
.text-editor-pane{
  height: 100%;
  width: calc(100vw - 422px);
  min-width: 750px;
  background:white;
}

.text-editor-header{
  height: 100px;
  width: 100%;
  flex-shrink: 0;
  position:relative;
  box-sizing:border-box;
  border-bottom: 1px solid #ececec;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

.text-editor-content{
  width: 100%;
  box-sizing:border-box;
  height: calc(100vh - 182px);;
  padding-left: 20px;
};


.title-input{
  display:block;
  margin:20px 0 0;
  padding: 0 0 0 14px;
  box-sizing:border-box;
  border-radius:0;
  border:none;
  font-family:'Scope One';
  font-size: 30px;
  color: #2dbe60;
  width:100%;
}

.title-input:focus{
  border:none;
}
.title-input::placeholder{
  color:#2dbe60;
  font-family: 'Scope One'
}

.text-editor-field{
  height:100%;
}

.editor-note-body{
  height:100%;
}


.note-menu-bar{
  display:flex;
  line-height: 30px;
  min-width:750px;
  font-size:14px;
  height:30px;
}

#toolbar{
  line-height:normal;
  display: block;
  position:relative;
  bottom:5px;
  z-index: 4;
  flex-shrink: 0;
}


/////////////////////////////////


.notebook-selector{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
    color: #444;
    text-transform:capitalize;
    flex-shrink:0;
}

.notebook-popup{
  height:0px;
  box-sizing:border-box;
  overflow-y:hidden;
  width:250px;
  position:absolute;
  top:99px;
  left:-1px;
  background:white;
  transition:.5s;
  border:1px solid #ececec;
  border-bottom:none;
  z-index: 2;
}

.notebook-selector:hover > .notebook-popup{
  display: block;
  height: 300px;
  box-shadow: 5px 5px 5px #ececec;
  border-bottom: 1px solid #ececec;
  overflow-y:scroll;
}

.note-li{
  padding: 0 10px;
  font-family:'Scope One';
  transition: .5s;
  height: 30px;
  line-height: 30px;
  animation-duration: 1s;
  overflow:hidden;
  background:white;
  cursor: pointer;
}

.note-li:hover{
  background: #2dbe60;
  color:white;
}

.selected{
  background: #ececec;
  color: #2dbe60;
}

.note-input{
  width:100%;
  margin:0px;
  border:none;
  border-bottom: 1px solid #ececec;
  border-radius: 0px;
  height:44px;
  font-size:14px;
  padding: 0px 18px;
  box-sizing: border-box;
}



.note-form{
  height:auto;
}

///////////////////////////////////////


.noteListItem-enter{
  animation-name: expandListItem;
}

@keyframes expandListItem {
  0% {height: 0px; background: #2dbe60; color:white}
  70% {height: 40px; background: #2dbe60; color:white}
  100% {background:white; color: inherit}
}


///////////////////////////////////////





.current-taggings{
  height:40px;
  max-width:510px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.tag-holder{
  display:flex;
  height:25px;
  overflow:hidden;
}
.tag-form{
  position:relative;
  float:left;
  top:2px
}


.tag-options{
  border:1px solid #ececec;
  margin:2px;
  z-index: 5;
  border-radius:3px;
  position:absolute;
  left:0px;
}

.tag-li{
  background: #2dbe60;
  color:white;
  border-radius: 3px;
  margin: 3px 2px;
  transition:.5s;
  height:21px;
  line-height:21px;
  display:inline-block;
}

.tag-name{
  margin: 0 5px;
}

.tag-entry{
  display: block;
  margin: 1px 0 0 2px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  padding: 0 2px 0 1px;
  cursor:pointer;
  border:1px solid white;
}

.tag-entry:focus{
  cursor:text;
}



#new-tag{
  background:transparent;
  border: 1px solid #ccc;
  color: #bbb;
}


//TODO
// .taggings-enter{
//   animation-name: grow-width;
//   animation-duration: .5s;
//   animation-timing-function: linear
// }

// .taggings-leave{
//   animation-name: shrink-width;
//   animation-duration: .5s;
//   animation-timing-function: linear;
// }


@keyframes grow-width{
  0%{max-width: 0}
  100%{max-width: 100px}
}

@keyframes shrink-width{
  0%{max-width: 100px}
  100%{max-width: 0}
}




.tag-entry::placeholder{
  text-align: center;
  color: #444
}


input{
  color:#bbb;
  font-family: 'Lato';
}


.far{
  color:#444
}
.far:hover{
  color: #2dbe60
}
