<!DOCTYPE html>
<html>
  <head>
    <title>Evernote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Scope+One:400|Source+Sans+Pro|BioRhyme:200" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
